USE [master]
GO
/****** Object:  Database [EcoEnergyDB]    Script Date: 27/03/2025 22:53:05 ******/
CREATE DATABASE [EcoEnergyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcoEnergyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EcoEnergyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EcoEnergyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EcoEnergyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcoEnergyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcoEnergyDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/03/2025 22:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergeticIndicators]    Script Date: 27/03/2025 22:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergeticIndicators](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[PBEE_Hidroelectr] [float] NOT NULL,
	[PBEE_Carbo] [float] NOT NULL,
	[PBEE_GasNat] [float] NOT NULL,
	[PBEE_FuelOil] [float] NOT NULL,
	[PBEE_CiclComb] [float] NOT NULL,
	[PBEE_Nuclear] [float] NOT NULL,
	[CDEEBC_ProdBruta] [float] NOT NULL,
	[CDEEBC_ConsumAux] [float] NOT NULL,
	[CDEEBC_ProdNeta] [float] NOT NULL,
	[CDEEBC_ConsumBomb] [float] NOT NULL,
	[CDEEBC_ProdDisp] [float] NOT NULL,
	[CDEEBC_TotVendesXarxaCentral] [float] NOT NULL,
	[CDEEBC_SaldoIntercanviElectr] [float] NOT NULL,
	[CDEEBC_DemandaElectr] [float] NOT NULL,
	[CDEEBC_TotalEBCMercatRegulat] [nvarchar](max) NOT NULL,
	[CDEEBC_TotalEBCMercatLliure] [nvarchar](max) NOT NULL,
	[FEE_Industria] [float] NULL,
	[FEE_Terciari] [float] NULL,
	[FEE_Domestic] [float] NULL,
	[FEE_Primari] [float] NULL,
	[FEE_Energetic] [float] NULL,
	[FEEI_ConsObrPub] [float] NULL,
	[FEEI_SiderFoneria] [float] NULL,
	[FEEI_Metalurgia] [float] NULL,
	[FEEI_IndusVidre] [float] NULL,
	[FEEI_CimentsCalGuix] [float] NULL,
	[FEEI_AltresMatConstr] [float] NULL,
	[FEEI_QuimPetroquim] [float] NULL,
	[FEEI_ConstrMedTrans] [float] NULL,
	[FEEI_RestaTransforMetal] [float] NULL,
	[FEEI_AlimBegudaTabac] [float] NULL,
	[FEEI_TextilConfecCuirCalcat] [float] NULL,
	[FEEI_PastaPaperCartro] [float] NULL,
	[FEEI_AltresIndus] [float] NULL,
	[DGGN_PuntFrontEnagas] [float] NULL,
	[DGGN_DistrAlimGNL] [float] NOT NULL,
	[DGGN_ConsumGNCentrTerm] [float] NOT NULL,
	[CCAC_GasolinaAuto] [float] NOT NULL,
	[CCAC_GasoilA] [float] NOT NULL,
 CONSTRAINT [PK_EnergeticIndicators] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Simulations]    Script Date: 27/03/2025 22:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simulations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SimulationDate] [datetime2](7) NOT NULL,
	[Type] [nvarchar](21) NOT NULL,
	[Ratio] [float] NOT NULL,
	[EnergyGenerated] [float] NOT NULL,
	[CostPerKWh] [float] NOT NULL,
	[PricePerKWh] [float] NOT NULL,
	[ParameterValue] [float] NOT NULL,
 CONSTRAINT [PK_Simulations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaterUsages]    Script Date: 27/03/2025 22:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaterUsages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Any] [int] NOT NULL,
	[CodiComarca] [int] NOT NULL,
	[Comarca] [nvarchar](max) NOT NULL,
	[Poblacio] [int] NOT NULL,
	[DomesticXarxa] [int] NOT NULL,
	[ActivitatsEconomiquesIFontsPropies] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[ConsumDomesticPerCapita] [float] NOT NULL,
 CONSTRAINT [PK_WaterUsages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
