@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<img src="~/img/image.png" class="img-fluid hero-image" alt="EcoEnergy Solutions" />
			
			<h3 class="display-5">EcoEnergy Solutions</h3>
		</div>
	</div>
</div>
